{
  "semi": true,
  "jsxSingleQuote": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "endOfLine": "lf",
  "printWidth": 120,
  "bracketSameLine": false,
  "singleAttributePerLine": true
}
