.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  cursor: pointer;
  gap: 12px;
  border: none;

  .iconOnly {
    padding: 10px;
  }

  .content {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .leftIcon,
  .rightIcon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .contentHidden {
    display: none;
  }

  &--primary {
    border-radius: 6px;
    padding: 16px 28px;
    color: var(--light-100);
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    border: 1px solid var(--green-500);
    background-color: var(--green-500);
    box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);

    &svg {
      width: 24px;
      height: 24px;

      path {
        stroke: var(--light-100);
      }
    }

    &[disabled] {
      border: 1px solid var(--gray-100);
      box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);
      background: var(--gray-100);
      color: var(--gray-300);
    }
  }

  &--outline {
    border-radius: 6px;
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    border: 1px solid var(--gray-100);
    background-color: var(--light-100);
    color: var(--gray-900);
    padding: 16px 28px;

    &[disabled] {
      cursor: not-allowed;
      border: 1px solid var(--gray-100);
      box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);
      background: var(--gray-100);
      color: var(--gray-300);

      svg {
        path {
          stroke: var(--gray-300);
        }
      }
    }

    &svg {
      width: 24px;
      height: 24px;

      path {
        stroke: var(--gray-900);
      }
    }
  }

  &--text {
    border: none;
    padding: 0;
    background: transparent;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 600;
    font-size: var(--font-size-m);
    line-height: 146%;
    color: #475467;
    cursor: pointer;

    &svg {
      width: 24px;
      height: 24px;

      path {
        stroke: var(--gray-900);
      }
    }

    &[disabled] {
      cursor: not-allowed;
    }
  }

  &[disabled].loadingButton {
    border: 1px solid var(--green-500);
    background-color: var(--green-500);
    box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);

    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }

    svg {
      animation: rotate 2s linear infinite;

      path {
        stroke: var(--light-100);
      }
    }
  }
}
