:root {
    --light-100: #FFFFFF;
    --light-300: #F2F4F7;
    --light-500: #EAECF0;
    --gray-100: #D0D5DD;
    --gray-300: #98a2b3;
    --gray-500: #667085;
    --gray-700: #475467;
    --gray-900: #344054 ;
    --green-100: #edfcf2 ;
    --green-300: #099250;
    --green-500: #087443;
    --warning-100: #FDA29B;
    --warning-300: #F04438;
    --mint-300: #D1FADF;
    --mint-100: #EDFCF2;
    --dark-700: #101828;
  }