.letterCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 240px;
  max-height: 100%;
  background-color: #f2f4f7;
  padding: 24px;
  border-radius: 12px;
  height: 100%;
  overflow-wrap: anywhere;
  color: var(--gray-500);
  font-size: 18px;
  line-height: 156%;

  &--sm {
    .cardContent {
      max-height: 152px;
      max-width: 504px;
      font-weight: 400;
      font-size: 18px;
      line-height: 156%;
      color: #667085;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 19px;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 40px;
        background: linear-gradient(180deg, rgb(242 244 247 / 0%) 0%, #f2f4f7 100%);
        pointer-events: none;
      }
    }
  }
}
